@using HostsGenerator.Application.Entities;
@model IEnumerable<HostItem>

@{
    ViewData["Title"] = "Список хостов";
}

<h2>Список хостов</h2>

<p>
<a asp-area="" asp-controller="HostItem" asp-action="Create">Добавить новый хост</a>
</p>

<table class="table table-success">
    <thead>
        <tr>
            <th scope="col">Адрес URL</th>
            <th scope="col">Название хоста</th>
            <th scope="col">Применяется</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var hostItem in Model)
        {
            <tr>
                <td>@hostItem.Url</td>
                <td>@hostItem.Name</td>
                <td>@hostItem.IsEnabled</td>
            </tr>
        }
    </tbody>
</table>

