@using HostsGenerator.Application.Entities;
@model IEnumerable<HostItem>

@{
    ViewData["Title"] = "Home Page";
}

<p>
<a asp-area="" asp-controller="HostItem" asp-action="Create">Добавить новый хост</a>
</p>

<ul>
    @foreach (var hostItem in Model)
    {
        <li>@hostItem.Url</li>
    }
</ul>

