@model HostItemForm
@{
    ViewData["Title"] = "Добавление нового хоста";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div class="form-inner-box">
        @if (!ViewData.ModelState.IsValid)
        {
            <div asp-validation-summary="All"></div>
        }
        <div class="mb-3">
            <label class="form-label" asp-for="Name"></label><br />
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Url"></label><br />
            <input class="form-control" asp-for="Url" />
            <span asp-validation-for="Url" />
        </div>
        <div class="mb-3 form-check">
            <input class="form-check-input" asp-for="IsEnabled" />
            <label class="form-check-label" asp-for="IsEnabled"></label><br />
            <span asp-validation-for="IsEnabled" />
        </div>
        <div class="form-box-submit row align-items-center">
            <div class="col-auto">
                <input class="btn btn-primary" type="submit" value="Добавить" />
            </div>
            <div class="col-auto">
                <a asp-controller="Home" asp-action="Index">Отмена</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
