@model HostItemForm
@{
    ViewData["Title"] = "Добавление нового хоста";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div>
        @if (!ViewData.ModelState.IsValid)
        {
            <div asp-validation-summary="All"></div>
        }
        <p>
            <label asp-for="Name">Название</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name" />
        </p>
        <p>
            <label asp-for="Url">Адрес url</label><br />
            <input type="text" asp-for="Url" />
            <span asp-validation-for="Url" />
        </p>
        <p>
            <label asp-for="IsEnabled">Включен</label><br />
            <input type="checkbox" asp-for="IsEnabled" />
            <span asp-validation-for="IsEnabled" />
        </p>
        <p>
            <input type="submit" value="Добавить" />
        </p>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
