@model HostItemForm
@{
    ViewData["Title"] = "Добавление нового хоста";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div>
        @if (!ViewData.ModelState.IsValid)
        {
            <div asp-validation-summary="All"></div>
        }
        <p>
            <label asp-for="Name"></label><br />
            <input asp-for="Name" />
            <span asp-validation-for="Name" />
        </p>
        <p>
            <label asp-for="Url"></label><br />
            <input asp-for="Url" />
            <span asp-validation-for="Url" />
        </p>
        <p>
            <label asp-for="IsEnabled"></label><br />
            <input asp-for="IsEnabled" />
            <span asp-validation-for="IsEnabled" />
        </p>
        <p>
            <input type="submit" value="Добавить" />
        </p>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
